In [6]:
import pandas as pd
import gower
from sklearn.cluster import DBSCAN

In [29]:
df = pd.read_csv("CombinedBooksRandomized.csv")
df = df.loc[:,"Author Average Rating":"Genres"]
df

,Author Average Rating,Author Votes,Review Count,Distinct Works,Year,Rating,Raters,Genres
0,4.07,1258005,85585,753,1969,4.09,155037,"Science Fiction,Fiction,Fantasy,Classics,Scien..."
1,3.99,4447186,273761,82,2021,3.99,153115,"Fiction,Contemporary,Audiobook,Romance,Adult,A..."
2,3.76,41079,5356,4,2020,3.76,41078,"Fiction,Contemporary,Literary Fiction,Adult,Fe..."
3,4.12,210117,18190,2,2018,4.12,210038,"Nonfiction,Crime,Audiobook,Mystery,Mystery,His..."
4,4.10,8007938,201434,729,1949,4.19,4034352,"Classics,Fiction,Science Fiction,Science Ficti..."
...,...,...,...,...,...,...,...,...
1724,4.23,353862,48530,14,2017,4.10,170787,"Fantasy,Historical,Fiction,Young Adult,Histori..."
1725,3.87,15137,1503,60,2012,2.86,389,"Science Fiction,Fiction,Comics,Fantasy,Sequent..."
1726,3.88,1385551,106047,51,2011,3.96,452659,"Young Adult,Science Fiction,Romance,Science Fi..."
1727,4.28,448442,25874,15,1943,4.29,434302,"Classics,Fiction,Historical,Young Adult,Young ..."
1728,3.58,6388,851,7,2005,2.58,474,"Fiction,Mystery,Thriller,Northern Africa,Histo..."

In [30]:
distance_matrix = gower.gower_matrix(df)
distance_matrix

array([[0.        , 0.17432418, 0.16918379, ..., 0.1470608 , 0.15725647,
        0.21715131],
       [0.17432418, 0.        , 0.19852793, ..., 0.17073211, 0.20574918,
        0.24834916],
       [0.16918379, 0.19852793, 0.        , ..., 0.1622677 , 0.17717385,
        0.17482494],
       ...,
       [0.1470608 , 0.17073211, 0.1622677 , ..., 0.        , 0.17065366,
        0.21097672],
       [0.15725647, 0.20574918, 0.17717385, ..., 0.17065366, 0.        ,
        0.22514139],
       [0.21715131, 0.24834916, 0.17482494, ..., 0.21097672, 0.22514139,
        0.        ]], dtype=float32)

In [31]:
dbscan_cluster = DBSCAN(eps=0.3, min_samples=10, metric="precomputed")

dbscan_cluster.fit(distance_matrix)
df["cluster"] = dbscan_cluster.labels_

In [32]:
df

,Author Average Rating,Author Votes,Review Count,Distinct Works,Year,Rating,Raters,Genres,cluster
0,4.07,1258005,85585,753,1969,4.09,155037,"Science Fiction,Fiction,Fantasy,Classics,Scien...",0
1,3.99,4447186,273761,82,2021,3.99,153115,"Fiction,Contemporary,Audiobook,Romance,Adult,A...",0
2,3.76,41079,5356,4,2020,3.76,41078,"Fiction,Contemporary,Literary Fiction,Adult,Fe...",0
3,4.12,210117,18190,2,2018,4.12,210038,"Nonfiction,Crime,Audiobook,Mystery,Mystery,His...",0
4,4.10,8007938,201434,729,1949,4.19,4034352,"Classics,Fiction,Science Fiction,Science Ficti...",0
...,...,...,...,...,...,...,...,...,...
1724,4.23,353862,48530,14,2017,4.10,170787,"Fantasy,Historical,Fiction,Young Adult,Histori...",0
1725,3.87,15137,1503,60,2012,2.86,389,"Science Fiction,Fiction,Comics,Fantasy,Sequent...",0
1726,3.88,1385551,106047,51,2011,3.96,452659,"Young Adult,Science Fiction,Romance,Science Fi...",0
1727,4.28,448442,25874,15,1943,4.29,434302,"Classics,Fiction,Historical,Young Adult,Young ...",0
1728,3.58,6388,851,7,2005,2.58,474,"Fiction,Mystery,Thriller,Northern Africa,Histo...",0

In [33]:
df.to_csv("DBSCAN.csv", index = False)