In [8]:
from bs4 import BeautifulSoup
import requests
import html5lib
import re
import pandas as pd

In [85]:
#NY Times
def convert_to_string(raw_elementtag):
    if raw_elementtag == None:
        return "None"
    else:
        for characters in raw_elementtag:
            result = str(characters.text)
            return result

def clean_week_on_list(raw_week):
    result = re.search(r"(.+) week", raw_week)
    if result == None:
        return "Missing data"
    if result.group(1) == "New this":
        return 1
    else:
        return result.group(1)

def clean_rank(raw_rank):
    result = re.search(r"(\b\d+)", raw_rank)
    if result == None:
        return 0
    else:
        return result.group(1)

In [86]:
books2 = []
response2 = requests.get("https://www.nytimes.com/books/best-sellers/combined-print-and-e-book-fiction/")
html_soup2 = BeautifulSoup(response2.text)
book_container2 = html_soup2.find_all('li', class_= "css-13y32ub")

for book in book_container2:
    bookTitle2 = book.find("h3", class_ = "css-5pe77f").text.strip()
    bookAuthor2 = book.find('p', class_ = "css-hjukut").text
    weeksOnList = clean_week_on_list(book.find("p", class_ = "css-1o26r9v").text)
    lastWeekRank = clean_rank(convert_to_string(book.find('div',attrs={"class" : "css-1dv1kvn"})))
    publisher = book.find('p', class_ = "css-heg334").text.strip()
    book_data2 = [bookTitle2, bookAuthor2, publisher, weeksOnList, lastWeekRank]
    books2.append(book_data2)
books2 = pd.DataFrame(books2, columns=["Title", "Author", "Publisher", "Weeks On List", "Last Week Rank"])
books2.head()

,Title,Author,Publisher,Weeks On List,Last Week Rank
0,VERITY,by Colleen Hoover,Grand Central,43,3
1,IT ENDS WITH US,by Colleen Hoover,Atria,68,2
2,FAIRY TALE,by Stephen King,Scribner,4,5
3,THE GOLDEN ENCLAVES,by Naomi Novik,Del Rey,1,0
4,WHERE THE CRAWDADS SING,by Delia Owens,Putnam,180,4

In [4]:
books2.to_csv("NYTimesBefore.csv")